.header {
  background-image: linear-gradient(
    224deg,
    hsl(240deg 100% 50%) 2%,
    #bd2eff 85%,
    rgb(225, 176, 249) 100%);
  padding-bottom: 1rem;
  text-align: center;
}

input{
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
}

p{
  padding: 0.5em;
}

